---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<YOUR GIPHY API KEY HERE>&lang=en&limit=1&offset=0&q=partly-cloudy&rating=G
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"aQ7kognlRPDzi","slug":"beach-clouds-aQ7kognlRPDzi","url":"https:\/\/giphy.com\/gifs\/beach-clouds-aQ7kognlRPDzi","bitly_gif_url":"https:\/\/gph.is\/28LBLPK","bitly_url":"https:\/\/gph.is\/28LBLPK","embed_url":"https:\/\/giphy.com\/embed\/aQ7kognlRPDzi","username":"","source":"https:\/\/www.transformtomorrow.com\/post\/117091919153\/happy-earth-day","rating":"g","content_url":"","source_tld":"www.transformtomorrow.com","source_post_url":"https:\/\/www.transformtomorrow.com\/post\/117091919153\/happy-earth-day","is_sticker":0,"import_datetime":"2016-06-21
        18:29:37","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200_s.gif","width":"356","height":"200"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy_s.gif","width":"500","height":"281"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200w.gif","width":"200","height":"112","size":"269381","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200w.mp4","mp4_size":"40112","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200w.webp","webp_size":"115248"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100_s.gif","width":"178","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200_d.gif","width":"356","height":"200","size":"256865","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200_d.webp","webp_size":"96020"},"preview":{"width":"150","height":"84","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-preview.mp4","mp4_size":"36601"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100.gif","width":"178","height":"100","size":"230195","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100.mp4","mp4_size":"32207","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100.webp","webp_size":"100032"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-downsized_s.gif","width":"500","height":"281","size":"90053"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-downsized.gif","width":"500","height":"281","size":"1766442"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy.gif","width":"500","height":"281","size":"1766442"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100w_s.gif","width":"100","height":"56"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-preview.webp","width":"183","height":"103","size":"48404"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200w_s.gif","width":"200","height":"112"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100w.gif","width":"100","height":"56","size":"83775","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100w.mp4","mp4_size":"13274","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/100w.webp","webp_size":"38188"},"downsized_small":{"width":"450","height":"252","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-downsized-small.mp4","mp4_size":"173778"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200w_d.gif","width":"200","height":"112","size":"84667","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200w_d.webp","webp_size":"35014"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy.gif","width":"500","height":"281","size":"1766442"},"original":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy.gif","width":"500","height":"281","size":"1766442","frames":"20","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy.mp4","mp4_size":"190595","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy.webp","webp_size":"696226"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200.gif","width":"356","height":"200","size":"824245","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200.mp4","mp4_size":"103418","webp":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/200.webp","webp_size":"323392"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-loop.mp4","mp4_size":"1473656"},"original_mp4":{"width":"480","height":"268","mp4":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy.mp4","mp4_size":"190595"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/aQ7kognlRPDzi\/giphy-preview.gif","width":"119","height":"67","size":"47749"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/aQ7kognlRPDzi\/480w_s.jpg","width":"480","height":"270"}},"title":"partly
        cloudy beach GIF","_score":550022.1,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f9bb569745050413fc892&event_type=GIF_SEARCH&gif_id=aQ7kognlRPDzi&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f9bb569745050413fc892&event_type=GIF_SEARCH&gif_id=aQ7kognlRPDzi&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f9bb569745050413fc892&event_type=GIF_SEARCH&gif_id=aQ7kognlRPDzi&action_type=SENT"}}}],"pagination":{"total_count":338,"count":1,"offset":0},"meta":{"status":200,"msg":"OK","response_id":"5c2f9bb569745050413fc892"}}'
  recorded_at: Fri, 04 Jan 2019 17:45:25 GMT
recorded_with: VCR 4.0.0
