---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<YOUR FLICKR API KEY HERE>&content_type=1&extras=url_o&format=json&lat=39.7392358&lon=-104.990251&method=flickr.photos.search&nojsoncallback=1&page=1&per_page=10&privacy_filter=public&tags=building
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":191,"perpage":10,"total":"1901","photo":[{"id":"31845071648","owner":"8426916@N04","secret":"08f07b1995","server":"1960","farm":2,"title":"Colorado
        State Capitol","ispublic":1,"isfriend":0,"isfamily":0},{"id":"45658288441","owner":"23002449@N02","secret":"51d99aaef2","server":"1923","farm":2,"title":"Denver
        Art Museum Construction","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/farm2.staticflickr.com\/1923\/45658288441_ab228867ec_o.jpg","height_o":"4096","width_o":"3072"},{"id":"31785443868","owner":"23002449@N02","secret":"7829a56c3f","server":"1940","farm":2,"title":"Back
        alley pipes","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/farm2.staticflickr.com\/1940\/31785443868_3d8f7a6585_o.jpg","height_o":"4096","width_o":"3072"},{"id":"30578799517","owner":"56397153@N04","secret":"a56bd78cef","server":"1965","farm":2,"title":"Twisty
        Passages","ispublic":1,"isfriend":0,"isfamily":0},{"id":"45444576012","owner":"56397153@N04","secret":"2f48f3794b","server":"1948","farm":2,"title":"Level","ispublic":1,"isfriend":0,"isfamily":0},{"id":"45381275442","owner":"56397153@N04","secret":"64160eb525","server":"1940","farm":2,"title":"Tranquil
        Spot","ispublic":1,"isfriend":0,"isfamily":0},{"id":"43478422530","owner":"56397153@N04","secret":"767baacbf5","server":"1955","farm":2,"title":"Sharp
        Corner","ispublic":1,"isfriend":0,"isfamily":0},{"id":"45273837761","owner":"56397153@N04","secret":"35e1d1310a","server":"1951","farm":2,"title":"Lightfall","ispublic":1,"isfriend":0,"isfamily":0},{"id":"45178623572","owner":"56397153@N04","secret":"6b5488950e","server":"1927","farm":2,"title":"Imbalance","ispublic":1,"isfriend":0,"isfamily":0},{"id":"44223997985","owner":"56397153@N04","secret":"354184beb2","server":"1952","farm":2,"title":"Solar
        Script","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sun, 04 Nov 2018 23:44:42 GMT
recorded_with: VCR 4.0.0
