---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<YOUR FLICKR API KEY HERE>&content_type=1&extras=url_o&format=json&lat=39.7392358&lon=-104.990251&method=flickr.photos.search&nojsoncallback=1&page=1&per_page=20&privacy_filter=public&tags=park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":98,"perpage":20,"total":"1953","photo":[{"id":"31609280698","owner":"47224811@N00","secret":"46a2fc9372","server":"1939","farm":2,"title":"Coors
        Field - Denver, CO","ispublic":1,"isfriend":0,"isfamily":0},{"id":"45362347502","owner":"62007874@N00","secret":"56ef604e51","server":"1977","farm":2,"title":"Canada
        Geese, City Park, Denver","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/farm2.staticflickr.com\/1977\/45362347502_55debf9422_o.jpg","height_o":"1024","width_o":"1536"},{"id":"44689497504","owner":"62007874@N00","secret":"04193ec9ac","server":"1920","farm":2,"title":"City
        Park Lake & Boathouse, Denver","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/farm2.staticflickr.com\/1920\/44689497504_627bb8ef20_o.jpg","height_o":"996","width_o":"1494"},{"id":"45362346302","owner":"62007874@N00","secret":"0cf07a1105","server":"1944","farm":2,"title":"Lake
        and Skyline, City Park, Denver","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"http[...]
